body {
    background-image: url(fundo2.jpg);
    background-size: 100% 130%;
    background-repeat: no-repeat;
    padding: 20px;
    
}
main {
    background-color: rgba(255, 255, 255, 0.62);
    min-height: 650px;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.img {
    width: 100px;
    height: 100px;
    border: solid black;
    margin: 10px;
}
.opiçao{
    padding-left: 80px;
    padding-right: 80px;
}
.opiçaoesquerda{
    display: flex;
    width: 50%;
    float: left;
}

.opiçaodireita{
    display: flex;
    width: 50%;
    float: left;
}

.lista{
    background-color: white;
    min-height: 150px;
    width: 600px;
    margin: auto; 
    
    border-radius: 10px;
    border: solid rgb(210, 89, 202) 5px;
}
.listatopo{
    background-color: rgb(210, 89, 202);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -30px;
    
}

.topo {
    background-color: rgb(210, 89, 202);
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
}

.logo{
    width: 80px;
}

.logoEsq{
    width: 20% ;

    float: left;
}
.titulo{
    width: 60%;
    padding-top: 0.5em;
    float: left;
}
.logodireita{
    width: 20%;

    float: left;

}
.clear{
    clear: both;
}

button{
    margin: 20px;
    width: 70px;
    height: 20px;
    background-color: rgb(210, 89, 202) ;
    border: solid black 2px;
}
